<form id="quadratic-calculator-form" method="post" action="{{{action_url}}}">
    <input type="hidden" name="sesskey" value="{{{sesskey}}}">
    <label for="a">{{#str}}coefficienta, block_quadratic_calculator{{/str}}</label>
    <input type="text" id="a" name="a" required>
    <label for="b">{{#str}}coefficientb, block_quadratic_calculator{{/str}}</label>
    <input type="text" id="b" name="b" required>
    <label for="c">{{#str}}coefficientc, block_quadratic_calculator{{/str}}</label>
    <input type="text" id="c" name="c" required>
    <input type="submit" value="{{#str}}calculate, block_quadratic_calculator{{/str}}">
    <div id="result_x1"></div>
    <div id="result_x2"></div>
</form>
