<div class="history-content">
    {{#history}}
    <div class="card-body p-3 block card">
        <p>{{#str}}time, block_quadratic_calculator{{/str}}: {{timemodified}}</p>
        <p>{{a}}x<sup>2</sup> + {{b}}x + {{c}} = 0</p>
        <p>{{#str}}solution, block_quadratic_calculator{{/str}}: x<sub>1</sub>: {{x1}}, x<sub>2</sub>: {{x2}}</p>
    </div>
    {{/history}}
    {{^history}}
    <p>{{#str}}no_history, block_quadratic_calculator{{/str}}</p>
    {{/history}}
</div>
